.App {
}
.registration
{
  display: flex;
  justify-content: center;
  align-items: center;
  height:100vh;
  background-image: url("/public/interview1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: whitesmoke;

}
.custom-form
{
  width:400px;
  margin-right: 50px;
  margin-bottom: 50px;


}



